<h1>My Holidays</h1>

<p><%= @user.username %></p>
<p><%= @user.age %></p>


<ul>
  
  <a href="" >Mexico/Cancun</a>
  <a href="">Spain/Malaga</a>
  <a href="">Italy/Rome</a>
  

</ul>

<%= link_to 'Add New Country', new_post_path %>
