<div class="container">
<p id="notice"><%= notice %></p>

<div id="bannertop">
  
</div>



<h1>Listing Countries</h1>

<ul>
  <li>
    <% @countries.each do |country| %>
    <ul class="col-md-6 col-sm-12">
      <li><%= image_tag country.flag, width: "200", height: "200" %></li>
      <li><%= link_to country.name, country_path(country) %></li>
    </ul>
    <% end %>
  </li>
</ul>
<br>
<%= link_to 'New Country', new_country_path %>
</div>



